@import 'pool';
@import 'hook-chart';
@import 'hook-filters';
@import 'hook-list';
@import 'escape-hatch';

.lobby__app {
  @extend %flex-column;
  @include lobby-app-size;
  @include prevent-select;

  .lobby-nope & {
    display: none;
  }

  &__content {
    @extend %box-neat;

    $logo-color: '383633';

    flex: 1 1 100%;
    position: relative;
    background-color: $c-bg-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='-2 -2 52 52' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' stroke='%23#{$logo-color}' stroke-width='4.25' stroke-linejoin='miter'%3E%3Cpath d='M7.55 14.5L40.45 14.5L24 43Z'/%3E%3Cpath d='M7.55 14.5L40.45 14.5L24 43Z' transform='rotate(40 24 24)'/%3E%3Cpath d='M7.55 14.5L40.45 14.5L24 43Z' transform='rotate(80 24 24)'/%3E%3C/g%3E%3C/svg%3E%0A");

    @include if-light {
      $logo-color: 'dadada';

      background-image: url("data:image/svg+xml,%3Csvg viewBox='-2 -2 52 52' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' stroke='%23#{$logo-color}' stroke-width='4.25' stroke-linejoin='miter'%3E%3Cpath d='M7.55 14.5L40.45 14.5L24 43Z'/%3E%3Cpath d='M7.55 14.5L40.45 14.5L24 43Z' transform='rotate(40 24 24)'/%3E%3Cpath d='M7.55 14.5L40.45 14.5L24 43Z' transform='rotate(80 24 24)'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    @include if-transp {
      background: rgb(from $c-bg r g b / calc(alpha * 0.8));
    }

    overflow-x: hidden;
    overflow-y: auto;
  }

  .lredir {
    background: $c-bg-box !important;
    display: flex;

    .spinner {
      width: 100px;
      height: 100px;
    }
  }

  .toggle {
    @extend %box-radius;
    @include transition;

    position: absolute;
    padding: 0.6em;
    cursor: pointer;
    z-index: 2;
    font-size: 1.3em;

    &.toggle-filter {
      @include inline-end(0);
    }

    &:hover {
      color: $c-accent;
    }
  }

  .gamesFiltered:not(.active) {
    color: $c-accent;

    @include transition;

    &:hover {
      color: $c-accent-dim;
    }
  }
}

@media (max-width: at-most($xx-small)) {
  .lreal_time,
  .lseeks .hooks__list {
    font-size: 0.9em;
  }

  .lobby__app .toggle {
    padding: 0.4em;
  }
}
